.filterContainer {
  display: flex;
  background-color: #fff;
  justify-content: space-between;
  padding: 10px 30px;
  border-radius: 10px;
  margin-bottom: 25px;
  align-items: center;
  box-shadow: 0px 0px 7px #dbdbdb;
}

.filterScoreWrapper {
  display: flex;
  gap: 20px;
}

.filterCheckboxWrapper {
  display: flex;
  align-items: center;
  gap: 10px;
}

.filterInput {
  width: 70px;
  height: 25px;
  border-radius: 3px;
  margin: 0 5px 0 5px;
  border: 1px solid #d3d3d3;
  padding: 15px;
}

.filterLabel {
  margin-left: 5px;
}

.filterClassLabel {
  margin: 10px 0;
}
