.studentDetailContainer {
  background-color: #fff;
  padding: 10px;
  border-radius: 10px;
  width: 80%;
  margin: 0 auto;
}

.headerWrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 10px;
}
